html, body {
	height:100%;
	width: 100%;
}

.viewer {
	background-color: #e8e8e8;
	border-radius: 5px;
}

.command {
	position : absolute;
	z-index : 100;
	bottom : 10px;
	right : 25px;
}

.command > .btn {
	z-index : 100;
	opacity: 0.5;
}

.command > .btn > i {
	z-index : 100;
}