.viewer-container {
	background-color: #404040;
	border-radius: 5px;
	border-color: black;
	border-width: 2px;
	box-shadow: 2px 2px 4px inset;
	z-index : 5;
	width : 100%;
	height : 100%;	
}

canvas.viewer {
	z-index : 1;
	padding-top : 2px;
	padding-left : 2px;
	padding-right : 2px;
	padding-bottom : 0px;
	width : 100%;
	height : 100%;
}

.command {
	position : absolute;
	z-index : 10;
	bottom : 10px;
	right : 25px;
}

.command > .btn {
	z-index : 100;
	opacity: 0.8;
}

.command > .btn > i {
	z-index : 100;
}